.header {
  &-wrapper {
    display: grid;
  }

  &-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: -1;
    padding: 10px 15px;
    background-color: $color-bg;
  }

  &-contact-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-lang-item {
    @include mobile-links;
    margin-right: 15px;
  }

  &-lang-phone {
    @include mobile-links;
    font-size: 16px;
  }

  &-lang-adres,
  &-lang-fb {
    display: none;
  }

  &-menu {
    display: none;
  }

  &-logo-page {
    position: relative;
    color: $color-main;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;
    margin-right: auto;
  }

  &-logo-page::before {
    position: absolute;
    content: '/';
    font-weight: bold;
    top: 0;
    left: 7px;
    color: $color-accent;
  }

  &-logo {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 10px;

    &-link {
      display: none;
    }
  }

  &-burger {
    width: 32px;
    height: 32px;
    padding: 10px 7px;
    cursor: pointer;
  }

  &-burger span {
    position: relative;
    display: block;
    width: 16px;
    height: 2px;
    background-color: $color-main;
  }

  &-burger span::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 2px;
    top: 5px;
    left: 0px;
    background-color: $color-main;
  }

  &-burger span::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 2px;
    top: 10px;
    left: 0px;
    background-color: $color-main;
  }

  &-burger-menu {
    position: absolute;
    width: 95%;
    bottom: 0;
    left: 50%;
    display: none;
    padding: 64px 12px 12px;
    border-radius: 12px 12px 0 0;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 5;
  }

  &-burger-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
  }

  &-burger-close span {
    position: absolute;
    top: 10px;
    right: 2px;
    display: block;
    width: 18px;
    height: 2px;
    background-color: $color-main;
    transform: rotate(-45deg);


    &::after {
      position: absolute;
      content: '';
      top: 0px;
      right: 0;
      width: 18px;
      height: 2px;
      background-color: $color-main;
      transform: rotate(90deg);
    }
  }

  &-burger-menu-item {
    color: $color-active;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    padding: 7px 0;
    background-color: $color-bg;
    border-radius: 15px;

    &:hover {
      background-color: $color-separator;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &-dark::before {
    // display: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-main;
    opacity: 0.7;
    z-index: 1;
  }
}

.active-bg {
  background-color: $color-accent;
  border-radius: 8px;
  padding: 7px;
}

.show {
  display: flex;
  flex-direction: column;
}

.burger-activ {
  color: $color-accent;
}

// hero

.hero {
  padding: 0 30px;

  &-title {
    text-align: left;
  }

  &-intro {
    margin-bottom: 30px;
  }

  &-text {
    @include paragraph;
  }

  &-numb {
    color: $color-accent;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
  }

  &-advantages {
    position: relative;
    padding-left: 34px;
    margin-bottom: 30px;
  }

  &-advantages::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-separator;
  }

  &-years {
    margin-bottom: 40px;
  }

  &-clients {
    margin-bottom: 40px;
  }

  &-icon-txt {
    margin-top: 10px;
  }
}


// about us page, mobile-first approach

@media screen and (min-width: 560px) {
  .header {
    &-menu {
      display: block;
      padding: 0 15px;
    }

    &-menu-item {
      font-size: 16px;
      font-weight: 700;

      &:hover {
        border-bottom: 2px solid $color-active;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &-logo-link {
      display: block;
    }

    &-lang {
      background: none;
    }

    &-lang-fb {
      display: block;
      margin-left: 15px;
    }

    &-lang-adres {
      position: relative;
      display: block;
      color: $color-text;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: right;
      padding: 0 15px;
      margin-right: 15px;

      &::before {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        top: 6px;
        left: 0px;
        background-color: $color-text;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        top: 6px;
        right: 0px;
        background-color: $color-text;
        border-radius: 50%;
      }
    }

    &-logo-link-mobile {
      display: none;
    }

    &-logo-page {
      font-size: 36px;
      margin-top: 8px;
    }

    &-burger {
      display: none;
    }
  }

  .activ {
    position: relative;
    color: $color-accent;

    &::after {
      position: absolute;
      content: '';
      width: 73px;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: $color-accent;

    }
  }
}

@media screen and (min-width: 900px) {
  .header {
    &-wrapper {
      grid-template-columns: 350px 2fr;
      grid-template-rows: 1fr 1fr;
      padding-top: 50px;
    }

    &-logo {
      grid-column: 1/2;
      grid-row: 1/3;
    }

    &-menu {
      grid-column: 2/ 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &-lang {
      order: 0;
      justify-content: flex-end;
    }
  }
}